body {
      background-color: rgb(10, 10, 77);  
      text-align: center;
      background-image: url("meditar.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}
header {
    background-color: rgb(139, 88, 221);
    font: bold 30px Arial; 
     
    border-radius: 10px;
    width: 300px;
    margin: auto;
    height: 50px;

}
section {
    background-color: rgb(3, 55, 65);
    color: rgb(248, 242, 242);
    font: bold 18px Arial;
    border-radius: 10px;
    padding: 15px;
    width: 370px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}
h3 {
    color: rgb(240, 235, 192);
    text-align: center;
    color-interpolation-filters: inherit;
    font-size: 25px;

    
}
button {
    font-family:sans-serif;
    font-size:14px;
    font-weight:4px;
    text-transform: uppercase;
    border: 5%;
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    border-style:inherit;
    color: rgb(8, 10, 10);
    background-color: rgb(219, 203, 56);
}
li {
    text-align: left;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size-adjust: initial;
}
h1 {
    font-size: larger;
}
footer {
    font-style: italic;
    font-size: 20px;
    color:rgb(250, 252, 252)
    
}
a {
    color:rgb(250, 252, 252)
}